body {
  background-image: url("https://github.com/annanas93/gunviolenceUSA/blob/master/styles/background.jpg?raw=true");
  background-color: 
  background-repeat: no-repeat;
  background-size: cover;
}

.title {
  text-align: center;
  font-family: "Georgia", serif;
  font-size: 40px;
  color: white;
}

.bokeh_plot {
  height: 650px;
  width: 650px;
  align: left;
}
