body {
  background-image: url("https://github.com/annanas93/gunviolenceUSA/blob/master/styles/background.jpg?raw=true");
  background-color: #A9A9A9;
  background-repeat: no-repeat;
  background-size: cover;
}
div {
    background-color:#FFFFFF
    opacity: 0.1;
}

.title {
  text-align: center;
  font-family: "Georgia", serif;
  font-size: 40px;
  color: white;
}

.bokeh_plot {
  height: 650px;
  width: 650px;
  align: left;
}
